SECRET_KEY=django-insecure-dev-key-change-me
DEBUG=1
DB_NAME=routefuel_db
DB_USER=routefuel_user
DB_PASSWORD=routefuel_password
DB_HOST=db
DB_PORT=5432
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
EXCEL_SOURCE_PATH=/app/fuel-prices.csv
AUTO_IMPORT_ON_STARTUP=1
